alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=/home/$USER'
alias dotp='dotfiles commit -am update && dotfiles push'
alias rs='rsync --info=progress2 -au'
alias cansetup='sudo ip link set can0 type can bitrate 125000 && sudo ip link set up can0'
alias wg='sudo wg-quick up /home/$USER/.config/wireguard/wg0.conf'
alias wgd='sudo wg-quick down /home/$USER/.config/wireguard/wg0.conf'
alias lll='tree -fiql --dirsfirst --noreport'
alias py='python3'
alias python='python3'